/*Colors and fonts*/

body {
	background:rgb(243, 211, 211);
	color :rgb(2,13,67);
	font-family: 'Ysra', serif; ;
	font-size:16px;
	line-height: 1.6;
	letter-spacing: 2px;
	font-weight: lighter;
}

h1, h2, h3 {
	font-family: 'Roboto', sans-serif;
}

h1 {
	color:rgb(2,13,67);
	font-size: 42px;
	font-weight:600;
	text-justify:center;

}

h2 {
	color:rgb(2,13,67);
	font-size: 26px;
	font-weight:300;
	text-justify:center;
	letter-spacing: 3px;

}

a {
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	color:rgb(237,165,147);
}

a:hover {
	color: rgb(2,13,67);
}


/*Custom design with class */

.container {

	width: 700px; 
	margin: 40px auto;
}

@media (max-width: 960px) {
	.container {
		width: 700px;
	}
}

@media (max-width: 720px) {
	.container {
		width: 500px;
	}
}
@media (max-width: 540px) {
	.container {
		width: 300px;
	}
}


.card-white {

	background-color: white;
	padding: 40px;
	box-shadow: 8px 10px 30px rgba (0,0,0,0.1);
	border-radius: 4px;
	margin: 20px 0px;
	text-align: center;

}

.img-circle{
	border-radius: 50%;
}

.btn-pink {
	background-color:rgb(237,165,147);
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
}

btn-pink:hover {
	background-color: black;
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
}

.list-inline {
	list-style: none;
	padding-left: 0px;

}

.list-inline li {
	display: inline;
	padding: 10px;
}

.list-inline i {
	font-size: 50px
}

#introduction p {
	margin-bottom: 40px
}



